@import "tailwindcss";


@theme {

  --color-primary: #A4E96A;
  --color-secondary: #333333;
  --color-background: #08EAFB66; 
  --color-textGray: #08EAFB;
  --color-bgCard: #1B1B1B;
  --color-bgBtn: #08EAFB4D;
}